@import "variables";
@import "media-variables";

.section-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

h2 {
  margin-bottom: 50px;
}

.wrapper{
    padding: 0 15px 30px;
}

.info {
  position: relative;
  overflow: hidden;
  border-radius: 15px;
  width: 100%;
  height: 450px;

  &:hover{
    .hint-block {
        transform: translateY(0);
    }
  }

  @media screen and (max-width: $sm) {
    height: 260px;
  }
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hint-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  color: white;
  background-color: $color-active;
  transform: translateY(100%);
  transition: transform 300ms;
}