<div class="section-wrapper background">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2>Примеры онлайн магазинов</h2>
      </div>
    </div>
  </div>
  <div class="container">
    <si-ng-carousel [visible]="{ lg: 2, all: 1 }" [showButtons]="false">
      <div siCarouselItem class="item">
        <div class="wrapper">
          <div class="info">
            <img src="assets/websites-img/shop-carts.png" alt="shop-carts" />
            <div class="hint-block">
              <span class="h3">Онлайн магазин</span>
              <span>для оптовых покупок</span>
            </div>
          </div>
        </div>
        <div class="wrapper">
          <div class="info">
            <img src="assets/websites-img/flower.png" alt="flower" />
            <div class="hint-block">
              <span class="h3">Онлайн магазин</span>
              <span>для флористов</span>
            </div>
          </div>
        </div>
        <div class="wrapper">
          <div class="info">
            <img src="assets/websites-img/hair-dryer.png" alt="hair-dryer" />
            <div class="hint-block">
              <span class="h3">Онлайн магазин</span>
              <span>для парихмахеров</span>
            </div>
          </div>
        </div>
      </div>

      <div siCarouselItem class="item">
        <div class="wrapper">
          <div class="info">
            <img src="assets/websites-img/pexels-shiny-diamond.png" alt="pexels-shiny-diamond" />
            <div class="hint-block">
              <span class="h3">Онлайн магазин</span>
              <span>для визажистов</span>
            </div>
          </div>
        </div>
        <div class="wrapper">
          <div class="info">
            <img src="assets/websites-img/cake.png" alt="cake" />
            <div class="hint-block">
              <span class="h3">Онлайн магазин</span>
              <span>для кондитеров</span>
            </div>
          </div>
        </div>
        <div class="wrapper">
          <div class="info">
            <img src="assets/websites-img/color-palette.png" alt="color-palette" />
            <div class="hint-block">
              <span class="h3">Онлайн магазин</span>
              <span>для художников</span>
            </div>
          </div>
        </div>
      </div>
    </si-ng-carousel>
  </div>
  <div class="container hidden-laptop">
    <div class="options">
      <button class="slider-button" (click)="prev()">
        <i class="fa-solid fa-chevron-left"></i>
      </button>
      <button class="slider-button" (click)="next()">
        <i class="fa-solid fa-chevron-right"></i>
      </button>
    </div>
  </div>
</div>
