<div class="section-wrapper">
  <div class="sphere hidden">
    <img src="assets/sphere-blue.png" alt="sphere-blue" />
  </div>
  <div class="container">
    <div class="wrapper">
      <span class="h2 hidden-desktop">Необходимо больше информации?</span>
      <div class="row align-items-center">
        <div class="col-12 col-md-6 order-2 order-md-1">
          <div class="text-wrapper">
            <span class="h2 hidden-mobile">Необходимо больше информации?</span>
            <p class="description">
              Если Вы владелец онлайн-магазина или только начинаете свой путь в
              электронной коммерции и вам нужен уникальный дизайн онлайн
              магазина для стартапа, обратитесь к нашему веб дизайнеру. За
              выгодную цену и короткий период времени, он поможет
              визуализировать ваш веб проект.
            </p>
            <button buttonMain>Оставить заявку</button>
          </div>
        </div>
        <div class="col-12 col-md-6 order-1 order-md-2">
          <img class="order-img" src="assets/order-img.png" alt="order-img" />
        </div>
      </div>
    </div>
  </div>
</div>
