@import "media-variables";
.text-wrapper {
  @media screen and (max-width: $sm) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.description {
  font-size: 18px;
  margin: 40px 0;

  @media screen and (max-width: $xl) {
    font-size: 14px;
  }
}

.sphere {
  position: absolute;
  top: 20%;
  left: 5%;
}

.order-img {
  width: 600px;
  height: 500px;

  @media screen and (max-width: $xl) {
    width: 500px;
    height: 400px;
  }

  @media screen and (max-width: $lg) {
    width: 400px;
    height: 300px;
  }

  @media screen and (max-width: $sm) {
    width: 300px;
    height: 200px;
  }
}
