.section-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.description{
    text-align: center;
    max-width: 480px;
    margin: 20px 0;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
