<div class="section-wrapper background">
  <span class="h2">Обсудить проект</span>
  <p class="description">
    Расскажите о своих бизнес-целях и мы поможем вам в их достижении
  </p>
  <form class="form" [formGroup]="form">
    <input-text
      formControlName="name"
      [class.error]="
        nameControl.invalid && (nameControl.dirty || nameControl.touched)
      "
      class="input"
    ></input-text>
    <input-text
      formControlName="phone"
      [class.error]="
        phoneControl.invalid && (phoneControl.dirty || phoneControl.touched)
      "
      placeholder="Telegram/Viber"
      class="input"
    ></input-text>
    <input-text
      formControlName="email"
      [class.error]="
        emailControl.invalid && (emailControl.dirty || emailControl.touched)
      "
      class="input"
      placeholder="Email"
    ></input-text>
    <main-button text="Отправить"></main-button>
  </form>
</div>
