<div class="section-wrapper background">
  <img class="phone-call hidden" src="assets/phone-call.png" alt="phone-call" />
  <span class="h2">Обсудить проект</span>
  <p class="description">
    Расскажите о своих бизнес-целях и мы поможем вам в их достижении
  </p>
  <form class="form" [formGroup]="form">
    <input-text
      formControlName="name"
      [class.error]="hasError(nameControl)"
    ></input-text>
    <input-text
      formControlName="phone"
      [class.error]="hasError(phoneControl)"
      placeholder="Telegram/Viber"
    ></input-text>
    <input-text
      formControlName="email"
      [class.error]="hasError(emailControl)"
      placeholder="Email"
    ></input-text>
    <main-button text="Отправить" (click)="submit()"></main-button>
  </form>
  <img
    class="carpet hidden"
    src="assets/carpet-purple-rotate.png"
    alt="carpet-purple"
  />
  <img
    class="sphere hidden"
    src="assets/sphere-light-blue.png"
    alt="sphere-light-blue"
  />
  <img class="postpaid" src="assets/postpaid.png" alt="postpaid" />
</div>
