@import "../../../../assets/styles/media-variables.scss";

ul {
  display: flex;
  justify-content: center;
  align-items: center;

  @media screen and (max-width: $md) {
    flex-direction: column;
  }
}
li {
  margin-right: 37px;

  &:last-child {
    margin-right: 0;
  }

  @media screen and (max-width: $md) {
    margin: 10px 0;
  }
}

a {
  font-weight: 600;

  &:hover {
    color: white;
    border-bottom: 3px solid white;
  }

  @media screen and (max-width: $lg) {
    font-size: 12px;
  }

  @media screen and (max-width: $md) {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 22px;
  }
}

