@import "variables";
@import "media-variables";

h2 {
  margin: 50px 0;

  @media screen and (max-width: $sm) {
    margin: 0 0 5px 0;
  }
}

.row {
  position: relative;
}

.bag {
  display: block;
  position: absolute;
  right: 90px;
  bottom: 150px;
  width: 100px;
  height: 120px;

  @media screen and (max-width: 1500px) {
    display: none;
  }
}
