@import "variables.scss" ;

button{
    min-width: 270px;
    height: 60px;

    &:hover{
        border: 3px solid $color-active;
    }

    &:active{
        background-color: $color-active;
    }
}