@import "variables.scss";
@import "media-variables.scss";

a{
    color: white;
}

.footer-wrapper {
  padding-top: 120px;

  @media screen and (max-width: $md) {
    padding-top: 80px;
  }
  @media screen and (max-width: $sm) {
    padding: 45px 0 150px;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-media {
  @media screen and (max-width: $md) {
    display: flex;
    justify-content: center;
    margin-top: 65px;
  }
}

.logo {
  margin-bottom: 45px;
}

.contact {
  display: flex;
  align-items: center;
  margin-bottom: 13px;
  &:last-child {
    margin-top: 0;
  }

  @media screen and (max-width: $md) {
    margin-left: 25%;
  }

  @media screen and (max-width: $sm) {
    margin-left: 10%;
  }
}

.contact-info {
  font-size: 20px;

  @media screen and (max-width: $xl) {
    font-size: 16px;
  }
}

.icon {
  margin-right: 10px;
}

.email-wrapper {
  @media screen and (max-width: $lg) {
    text-align: center;
    margin-top: 20px;
  }
  @media screen and (max-width: $sm) {
    margin-top: 40px;
  }
}

.email-address {
  font-size: 20px;

  @media screen and (max-width: $lg) {
    font-size: 16px;
  }
}
