<div class="footer-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-6">
        <div class="wrapper">
          <img class="logo" src="assets/logo.png" alt="logo" />
          <social-media></social-media>
        </div>
      </div>
      <div class="col-lg-4 col-6">
        <div class="contact">
          <img
            class="icon"
            src="assets/social-media/instagram.svg"
            alt=""
          />
          <span class="contact-info">Валерия: +380505859409</span>
        </div>
        <div class="contact">
          <img
            class="icon"
            src="assets/social-media/instagram.svg"
            alt=""
          />
          <span class="contact-info">Анна: +380505859409</span>
        </div>
        <div class="contact">
          <img
            class="icon"
            src="assets/social-media/instagram.svg"
            alt=""
          />
          <span class="contact-info">Валерия: +380505859409</span>
        </div>
      </div>
      <div class="col-lg-4 col-12">
        <div class="email-wrapper">
          <span class="email-address">hr@dv-s.com</span>
        </div>
      </div>
      <span class="copyright">Developers 2018-2022 © All rights reserved</span>
    </div>
  </div>
</div>
