@import "variables.scss";
@import "media-variables.scss";

.footer-wrapper {
  padding-top: 120px;
}

.logo {
  margin-bottom: 45px;
}


.contact {
  display: flex;
  align-items: center;
  margin-bottom: 13px;
  &:last-child {
    margin-top: 0;
  }
}

.contact-info {
  font-size: 20px;

  @media screen and (max-width: $xl) {
    font-size: 16px;
  }
}

.icon {
  margin-right: 10px;
}

.email-wrapper {
  @media screen and (max-width: $lg) {
    text-align: center;
    margin-top: 20px;
  }
}

.email-address {
  font-size: 20px;

  @media screen and (max-width: $lg) {
    font-size: 16px;
  }
}

.copyright {
  margin-top: 60px;
}
