@import "variables.scss";

:host {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  transform: translateX(-100%);
  background-color: $color-active;
  transition: transform 300ms;

  &.active {
    transform: translateX(0);
  }
}

button {
  position: absolute;
  top: 0;
  left: 0;
  margin: 10px;
  font-size: 20px;
  color: white;
  &.close {
    background-color: transparent;
  }
}
