<faq-item question="Дизайн портала">
  <p>
    Дизайн портала — это оформление контента, совокупность всех графических
    элементов на веб-странице. Основная задача дизайна — познакомить
    пользователя со страницей. Продуманный дизайн создает нужное впечатление о
    компании.
  </p>
</faq-item>
<faq-item question="Дизайн адаптивной мобильной версии ">
  <p>
    Мобильная версия сайта удобна для пользователя, потому что сильно упрощена
    по сравнению с обычной версией. Мобильная версия дает наиболее приоритетную
    информацию, а также позволяет совершать заказ/покупку с минимумом действий.
    <br /><br />
    При адаптивной версии вся структура сайта автоматически подстраивается под
    различную ширину экрана. Для того, чтобы получить рабочий продукт не нужно
    писать все с нуля — достаточно лишь подправить CSS и HTML. <br /><br />
    Один URL избавляет нас от ненужных редиректов, и надобности пользователю
    запоминать адрес мобильной версии.
  </p>
</faq-item>
<faq-item question="Дизайн десктопной версии">
  <p>
    Десктопную версию сайта просматривают пользователи со стационарных
    компьютеров. Основная цель: посерфить, углубиться в детали, получить больше
    информации, сравнить, выбрать, прицениться.
  </p>
</faq-item>
<faq-item question="Пользовательский интерфейс">
  <p>
    Цель дизайна пользовательского интерфейса - сделать взаимодействие
    максимально простым и эффективным, насколько это возможно, с точки зрения
    достижения целей пользователя. Хороший дизайн пользовательского интерфейса
    облегчает выполнение поставленной задачи, не привлекая к себе лишнего
    внимания.
  </p>
</faq-item>
<faq-item question="Микро UX">
  <p>
    Микро-анимация может изменить восприятие продукта, пользовательское
    поведение и повысить конверсию. Небольшие, преимущественно функциональные
    анимации поддерживают пользователя: обеспечивают визуальную обратную связь и
    более понятно отражают происходящие изменения. Микро-анимации способны
    многое объяснить без слов.
  </p>
</faq-item>
