@import "variables.scss";
@import "media-variables.scss";

button {
  width: 170px;
  height: 40px;

  &:hover {
    border: 2px solid white;
  }

  &:active {
    background-color: white;
    color: $color-active;
  }

  @media screen and (max-width: $xl) {
    width: 120px;
    height: 30px;
  }

  @media screen and (max-width: $md) {
    display: none;
  }
}
