@import "../../../assets/styles/variables.scss";
@import "../../../assets/styles/media-variables.scss";

button {
  width: 170px;
  height: 40px;
  transition: 100ms;

  &:hover {
    border: 2px solid white;
  }

  &:active {
    background-color: white;
    color: $blue;
  }

  @media screen and (max-width: $xl) {
    width: 120px;
    height: 30px;
  }

  @media screen and (max-width: $md) {
    display: none;
  }
}
