@import "variables";
@import "media-variables";

.intro-text {
  @media screen and (max-width: $xl) {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  @media screen and (max-width: $sm) {
    align-items: start;
    text-align: start;
  }
}

.sphere {
  position: absolute;
  top: 25%;
  left: 10%;
}

h1 {
  width: 600px;

  @media screen and (max-width: $xl) {
    width: auto;
  }

  @media screen and (max-width: $sm) {
    margin-top: 53px;
  }
}

.description {
  margin: 20px 0 60px;
  max-width: 430px;
  line-height: 22px;
  font-weight: 400;
}


.img-wrapper {
  display: flex;
  justify-content: center;
}

.intro-img {
  object-fit: cover;

  @media screen and (max-width: 1400px) {
    width: 500px;
    height: 400px;
  }

  @media screen and (max-width: $md) {
    width: 400px;
    height: 300px;
  }

  @media screen and (max-width: $sm) {
    height: 260px;
    transform: rotate(15deg);
  }
}

$elipse-width: 1200px;

.elipse {
  position: absolute;
  top: 12%;
  right: -#{$elipse-width/2};
  border-radius: 50%;
  width: $elipse-width;
  height: 70%;
  background-color: $color-background;
  z-index: -1;

  @media screen and (max-width: $xl) {
    $elipse-width: 700px;
    width: $elipse-width;
    right: -#{$elipse-width/2};
  }

  @media screen and (max-width: $lg) {
    $elipse-width: 800px;
    width: $elipse-width;
    right: -#{$elipse-width/2};
    height: 50%;
  }

  @media screen and (max-width: $md) {
    top: 20px;
    $elipse-width: 660px;
    width: $elipse-width;
    right: -#{$elipse-width/2};
  }

  @media screen and (max-width: $sm) {
    $elipse-width: 360px;
    width: $elipse-width;
    right: -#{$elipse-width/2};
    height: 30%;
  }
}

.carpet {
  margin-left: 60px;

  @media screen and (max-width: $sm) {
    display: none;
  }
}

main-button {
  margin: auto;
}
