<div class="wrapper">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-6">
        <div class="intro-text">
          <img
            class="sphere"
            src="../../../../assets/sphere-blue.png"
            alt=""
          />
          <h1>Разработка интернет-магазина с нуля за неделю</h1>
          <div class="description">
            Дизайн интернет магазина, элементов микро UX, корзин, личного
            кабинета - от фирменного стиля до пользовательского интерфейса в
            сжатые сроки с командой Virtual Designers
          </div>
          <main-button></main-button>
        </div>
      </div>
      <div class="col-6 cart-wrapper">
        <img src="../../../../assets/intro-img.png" alt="" />
      </div>
    </div>
  </div>
  <div class="elipse"></div>
  <img class="carpet" src="../../../../assets/carpet-purple.png" alt="">
</div>
