
<!-- TODO: check social icons on different extensions (maybe should be only 1 icon) -->
<div class="social-wrapper">
    <a href="#">
        <img src="assets/social-media/instagram.svg" class="hidden-mobile" alt="instagram">
        <img src="assets/social-media-mobile/instagram.svg" class="hidden-desktop" alt="instagram">
    </a>
    <a href="#">
        <img src="assets/social-media/fb.svg" class="hidden-mobile" alt="facebook">
        <img src="assets/social-media-mobile/fb.svg" class="hidden-desktop" alt="facebook">
    </a>
    <a href="#">
        <img src="assets/social-media/telegram.svg" class="hidden-mobile" alt="telegram">
        <img src="assets/social-media-mobile/telegram.svg" class="hidden-desktop" alt="telegram">
    </a>
    <a href="#">
        <img src="assets/social-media/viber.svg" class="hidden-mobile" alt="viber">
        <img src="assets/social-media-mobile/viber.svg" class="hidden-desktop" alt="viber">
    </a>
    <a href="#">
        <img src="assets/social-media/whatsapp.svg" class="hidden-mobile" alt="whatsapp">
        <img src="assets/social-media-mobile/whatsapp.svg" class="hidden-desktop" alt="whatsapp">
    </a>
</div>
