<div class="header-wrapper">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-4">
        <a href="#">
          <img class="logo" src="assets/logo.svg" alt="logo" />
        </a>
      </div>
      <div class="col-8 flex-end">
        <div class="wrapper">
          <menu></menu>
          <button buttonHeader>Заказать</button>
        </div>
      </div>
    </div>
  </div>
  <mobile-menu [(isOpen)]="isOpen"></mobile-menu>
  <a class="icon" (click)="open()">
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
  </a>
</div>
