/* You can add global styles to this file, and also import other style files */
@import "variables";
@import "media-variables";
@import "reset";

body {
  overflow-x: hidden;
  font-family: "Montserrat";
  line-height: 1.4;
  font-size: 18px;
}

h1,
.h1 {
  font-weight: 900;
  font-size: 27px;
  color: black;
  line-height: 1.4;

  @media screen and (min-width: 1400px) {
    font-size: 50px;
    color: #484848;
  }
}

h2,
.h2 {
  font-size: 32px;
  font-weight: 800;
  text-align: center;

  @media screen and (max-width: $sm) {
    font-size: 23px;
  }
}

h3,
.h3 {
  font-size: 21px;
  font-weight: 700;
}

h4,
.h4 {
  font-size: 19px;
  font-weight: 500;
}

h5,
.h5 {
  font-size: 18px;
  font-weight: 500;
}

h6,
.h6 {
  font-size: 17px;
  font-weight: 500;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: $color-active;

  &:hover{
    text-decoration: underline;
  }
}

button {
  color: white;
  background-color: $color-cta;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 5px;
  border: none;
}

.error {
  input {
    border-color: red;
  }
}

input {
  padding: 15px;
  width: 470px;
  margin-bottom: 20px;
  background-color: white;
  border: 1px solid $color-active;
  border-radius: 10px;
  color: black;
  outline: none;

  &::placeholder {
    color: $color-unactive;
  }

  &:focus {
    padding: 14px;
    border-width: 2px;
  }

  @media screen and (max-width: $sm) {
    width: 300px;
  }
}

.header-wrapper,
.footer-wrapper {
  display: flex;
  align-items: center;
  padding: 20px 0;
  color: white;
  background-color: $color-active;

  @media screen and (max-width: $sm) {
    padding: 10px 0;
  }
}

.section-wrapper {
  position: relative;
  padding: 80px 0;
  max-width: 100vw;
  overflow: hidden;
  &.background {
    background-color: $color-background;
  }

  @media screen and (max-width: $xl) {
    padding: 30px 0;
  }
}

.slider-button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  width: 60px;
  height: 60px;
  color: black;
  background-color: transparent;
  border: 2px solid $color-active;
  border-radius: 15px;
  margin-right: 30px;

  @media screen and (max-width: $sm) {
    margin-right: 0;
  }


  &:active {
    background-color: $color-active;
    color: white;
  }
}

.options {
  display: flex;
  justify-content: center;

  @media screen and (max-width: $sm) {
    padding: 0 37px;
    justify-content: space-between;
  }
}


.sphere {
  width: 50px;
  height: 50px;
}

.copyright{
  margin: 60px 0 40px;
  font-size: 18px;
  text-align: center;

  @media screen and (max-width: $sm) {
    font-size: 14px;
    margin-top: 25px;
  }
}

.hidden {
  display: none;

  @media screen and (min-width: 1500px) {
    display: block;
  }
}

.hidden-laptop{
  @media screen and (min-width: 1280px) {
    display: none;
  }
}

.hidden-desktop {
  @media screen and (min-width: $md) {
    display: none;
  }
}

.hidden-mobile {
  @media screen and (max-width: $md) {
    display: none;
  }
}


// Components
@import 'buttons';