@import "variables";
@import "media-variables";


.wrapper {
  display: block;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: $sm) {
    max-width: 540px;
  }

  @media screen and (min-width: $md) {
    max-width: 720px;
  }

  @media screen and (min-width: $lg) {
    max-width: 960px;
  }

  @media screen and (min-width: $xl) {
    max-width: 1140px;
  }
  @media screen and (min-width: 1400px) {
    max-width: 100%;
    margin-left: calc((100vw - 1320px) / 2);
    margin-right:155px;
  }
}

.item {
  padding-right: 20px;

  @media screen and (max-width: $xl) {
    padding-right: 0;
  }
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 33px;
  border: 1px solid $color-active;
  border-radius: 15px;


  @media screen and (max-width: $md) {
    flex-direction: column;
    padding: 20px;
    height: 615px;
  }

  @media screen and (max-width: $sm) {
    margin: 0 20px;
  }
}

.img-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  width: 250px;
  height: 250px;
  object-fit: contain;

  @media screen and (max-width: $sm) {
    width: 220px;
    height: 230px;
  }
}

.description {
  margin: 20px 0;
  width: 300px;

  @media screen and (max-width: $md) {
    width: 250px;
  }
}

.options{
  margin-top: 40px;
  margin-bottom: 60px;
}